<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Choose Commands</title>
</head>
<body>
    <h3>Choose commands to be taught from the options below.  If your dog already knows one of the command, feel free to delete it.  If you would like to train an additional command, please use the Add a Command feature.</p>
        <button class="accordion">Sit</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>
        
        <button class="accordion">Down</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>
        
        <button class="accordion">Stay</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">No</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>
        
        <button class="accordion">Off</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>
        
        <button class="accordion">Come</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>

        <button class="accordion">Heel</button>
        <div class="panel">
          <p>Lorem ipsum...</p>
        </div>
    
</body>
</html>