<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Commands</title>
</head>
<body>

   <div ng-include="'views/partials/nav.html'"></div>
   

       <h5><center>THIS SHOULD BE A PAGE FOR EACH INDIVIDUAL DOG</center></h5>
        <div class="allDogs"> 
        <ul>    
            <li ng-repeat = "command in lc.commands.list">
            </li>
        </ul>    
       {{lc}}
        </div>
        <br>
        <br>

    <!-- IF I ADD ADD A COMMAND
       <!-- <label for="dog_name" aria-placeholder="Dog Name">Dog Name</label>
       <input type="text" placeholder ="Dog name" ng-model="lc.newDog.dog_name">

       <label for="breed" aria-placeholder="Breed">Breed</label>
       <input type="text" placeholder ="Breed" ng-model="lc.newDog.breed">

       <label for="Image URL" >Image URL</label>
       <input type="text" placeholder ="Image URL Optional "ng-model="lc.newDog.imageurl">
   
       <button ng-click="lc.addDog(lc.newDog)">Submit</button>
   <br> -->

   
</body>
</html>