<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Commands</title>
</head>
<body>

   <div ng-include="'views/partials/nav.html'"></div>
   
        <div class="allDogs"> 
        <ul>    
            <li ng-repeat = "command in lc.commands.list">
            </li>
        </ul>    
       {{lc}}
        </div>
        <br>
        <br>
 <br> 
</body>
</html>