<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Dog</title>
</head>
<body>
   <div ng-include="'views/partials/nav.html'"></div>
   
       <p>You've added your pup to the training program!  Select your pup and let the training begin.  Each command is trained over a 7 day period, with three repititions each day.  Each time a rep is completed update the the dropdown.  Once all of the commands have been mastered you can either keep the history or delete the dog.</p>
       
       <p>Let's get started!</p>

       <h5><center>Dogs Currently in Training</center></h5>
        <div class="allDogs"> 
        <ul>    
            <li id='scraps' ng-repeat = "dog in lc.dogs.list">
                <a ng-href="#/eachdog/{{dog.id}}">{{dog.dog_name}}</a>
            </li>
        </ul>    
        </div>
        <br>
        <br>

       <label for="dog_name" aria-placeholder="Dog Name">Dog Name</label>
       <input type="text" placeholder ="Dog name" ng-model="lc.newDog.dog_name">

       <label for="breed" aria-placeholder="Breed">Breed</label>
       <input type="text" placeholder ="Breed" ng-model="lc.newDog.breed">

       <button class="btn btn-default" ng-click="lc.addDog(lc.newDog)">Submit New Dog</button>
</body>
</html>