<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Dog</title>
</head>
<body>

   <div ng-include="'views/partials/nav.html'"></div>
   

       <p>Add information about what commands will can be taught and what user can do once their dog is added.</p>
       <p>Let's get started!</p>

       <h5><center>Dogs Currently in Training</center></h5>
        <div class="allDogs"> 
        <ul>    
            <li id='scraps' ng-repeat = "dog in lc.dogs.list">
                <a ng-href="#/eachdog/{{dog.id}}">{{dog.dog_name}}</a>
            </li>
        </ul>    
       <!-- {{lc}} -->
        </div>
        <br>
        <br>

       <label for="dog_name" aria-placeholder="Dog Name">Dog Name</label>
       <input type="text" placeholder ="Dog name" ng-model="lc.newDog.dog_name">

       <label for="breed" aria-placeholder="Breed">Breed</label>
       <input type="text" placeholder ="Breed" ng-model="lc.newDog.breed">

       <label for="Image URL" >Image URL(Optional)</label>
       <!-- <input type="text" placeholder ="Image URL Optional "ng-model="lc.newDog.imageurl"> -->

       <input type="button" value="Upload" ng-click="lc.showPicker()" />
        <br>
       <button ng-click="lc.addDog(lc.newDog)">Submit New Dog</button>
   <br>

   





    
    <!-- THIS IS FROM FILESTACK I DONT UNDERSTAND HOW TO USE IT YET - IT SAID TO PUT IT HERE-->
<!-- <script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>
<script>
    var client = filestack.init('AaN98nhRTamCfV3Suca0Zz');
    function showPicker() {
        client.pick({
        }).then(function(result) {
            console.log(JSON.stringify(result.filesUploaded))
        });
    }
</script>
<input type="button" value="Upload" onclick="showPicker()" /> -->
</body>
</html>