<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dog Training Page</title>
</head>

<body>
  <div ng-include="'views/partials/nav.html'"></div>
 


  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Command</th>
          <th>Day 1</th>
          <th>Day 2</th>
          <th>Day 3</th>
          <th>Day 4</th>
          <th>Day 5</th>
          <th>Day 6</th>
          <th>Day 7</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="command in ec.currentDog.details">
            <td>{{command.command}}</td>
            <td><select>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              {{command.day1}}</td>
            <td>{{command.day2}}</td>
            <td>{{command.day3}}</td>
            <td>{{command.day4}}</td>
            <td>{{command.day5}}</td>
            <td>{{command.day6}}</td>
            <td>{{command.day7}}</td>
        </tr>        
          </td>
          <!-- <td>           
          </td> -->
          <!-- <td>          
          </td> -->
          <!-- </tr> -->
      </tbody>
    </table>
  </div>

</body>

</html>