<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <p>
    Power Pup was created to help train basic commands to the family dog.  Each command is taught over a 7 day period, with 3 training repetitions on each one of those days.
  </p>
  <p>  
    If you're ready to get started, Add a Dog and let the training begin.  Then you'll be ready to track your pups training of the following commands:

    <h5><center>Commands for Scheduled Training</center></h5>
    <div ng-controller="CommandsController as cc">
        
        <table class="table table-striped">
          <thead>
            <tr >
              <th>Command</th>
              <!-- <th>Description</th> -->
              <th>Teach</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat =  "command in cc.commands.list">
              <td>{{command.command}}</td>
              <!-- <td>{{command.description}}</td> -->
              <td>{{command.teach}}
            </tr>  
          </tbody>
        </table> 
  </p>
</div>

<h5><center>Commands for As Needed Training</center></h5>

<div ng-controller="AsNeededCommandsController as cc">
         
     <table class="table table-striped">
       <thead>
         <tr >
           <th>Command</th>
           <th>Teach</th>
         </tr>
       </thead>
       <tbody>
         <tr ng-repeat =  "command in cc.as_needed_commands.list">
           <td>{{command.command}}</td>
           <td>{{command.teach}}
         </tr>  
           </tbody>
         </table>    
</div

