<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <p>
    Power Pup was created to help busy families train basic commands to the family dog.  Each command is taught over a 7 day period, with 3 training repetitions on each one of those days.
  </p>
  <p>  
    Once you've created a profile for your dog, you will be able to select the commands you would like to train over the next several weeks.

    The seven commands below are recommended for your training program and will send you well on your way to an obediant dog.

    <h5><center>Commands for Scheduled Training</center></h5>
    <div ng-controller="CommandsController as cc">
        
        <table class="table table-striped">
          <thead>
            <tr >
              <th>Command</th>
              <!-- <th>Description</th> -->
              <th>Teach</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat =  "command in cc.commands.list">
              <td>{{command.command}}</td>
              <!-- <td>{{command.description}}</td> -->
              <td>{{command.teach}}
            </tr>  
          </tbody>
        </table> 
  </p>
</div>

<h5><center>Commands for As Needed Training</center></h5>


<div ng-controller="AsNeededCommandsController as cc">
         
     <table class="table table-striped">
       <thead>
         <tr >
           <th>Command</th>
           <th>Teach</th>
         </tr>
       </thead>
       <tbody>
         <tr ng-repeat =  "command in cc.as_needed_commands.list">
           <td>{{command.command}}</td>
           <td>{{command.teach}}
         </tr>  
           </tbody>
         </table>    
</div

<p>If you are ready to get started today, select Add a Dog and let the training begin!</p>
