<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
  <p>
    Power Pup was created to help busy families train basic commands to the family dog.  Each command is taught over a 7 day period, with 3 training repetitions on each one of those days.
  </p>
  <p>  
    Once you've created a profile for your dog, you will be able to select the commands you would like to train over the next several weeks.

    The seven commands below are recommended for your training program and will send you well on your way to an obediant dog.

    <h5><center>Recommended Commands for Training</center></h5>
    <div class="allCommands"> 
    <ul>    
        <li ng-repeat = "command in cc.commands.list">
            {{command.command}}
        </li>
    </ul>  

   {{cc}} 

    </div>
  </p>
  <p>If you are ready to get started today, select Add a Dog and let the training begin!</p>
   

</div>
