<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Training</title>
</head>
<body>
    <div ng-include="'views/partials/nav.html'"></div>



{{lc}}
{{vm}}

<div class="container">
        <h2>Training Progress Report for "Dog Name"</h2>
        <p>Description of what to do with each day and reps</p>            
        <table class="table table-striped">
          <thead>
            <tr>Day 1</tr>  
            <tr>
              <th>Command</th>
              <th>Day 1</th>
              <th># Cmpt</th>
              <th>+ Reps</th>
              <th>Day 2</th>
              <th>Day 3</th>
              <th>Day 4</th>
              <th>Day 5</th>
              <th>Day 6</th>
              <th>Day 7</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- <td ng-repeat="commands in lc.</td>  -->
            </tr>
            <tr>
              <td>Down</td>
             
            </tr>
            <tr>
              <td>Stay</td>
              
            </tr>
            <tr>
              <td>No</td>
                    
            </tr>
            <tr>
              <td>Off</td>
                          
            </tr>
            <tr>
              <td>Come</td>
                              
            </tr>

            <tr>
              <td>Heel</td>
                                  
            </tr>




          </tbody>
        </table>
      </div>

    <!-- <p>The commands below are included in your training program.  If your dog has previously mastered one or more of the commands, feel free to delete from the training program.  If you would like to train an additional command, please use the Add a Command feature.</p>
  
        <div ng-controller="CommandController as lc">
            <p>Add your command here. </p>
     
            <label for="addCommand" aria-placeholder="addCommand">New Command Name</label>
            <input type="text" placeholder ="New Command Name" ng-model="lc.newDog.birthday">   -->
            <!-- I need to figure out how to route it to the DB for botht his and New Command Description- ng-model -->
     <!-- <br>
            <label for="addCommandDesc" aria-placeholder="addCommandDesc">New Command Description</label>
            <input type="text" placeholder ="New Command Description" ng-model="sc.newItem.imageurl">
        
            <button ng-click="lc.addCommand()">Submit</button>
    
</body>
</html> -->