<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Training</title>
</head>
<body>
    <div ng-include="'views/partials/nav.html'"></div>



{{lc}}
{{vm}}
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Command</th>
        <th>Day 1</th>
        <th>Day 2</th> 
        <th>Day 3</th>
        <th>Day 4</th>
        <th>Day 5</th>
        <th>Day 6</th>
        <th>Day 7</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sit</td>  
        <!-- Sit should eventually come in from Database -->
        <td><div class="btn-group">
<button type="button" class="btn btn-danger">Rep</button>
<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
<span class="caret"></span>
<span class="sr-only">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu" role="menu">
<li><a href="#">Rep 1</a></li>
<li><a href="#">Rep 2</a></li>
<li><a href="#">Rep3</a></li>
<li class="divider"></li>
</ul>
</div></td>

        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
      </tr>
      <tr>
        <td>Down</td>
        <td><div class="btn-group">
<button type="button" class="btn btn-danger">Action</button>
<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
<span class="caret"></span>
<span class="sr-only">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu" role="menu">
<li><a href="#">Action</a></li>
<li><a href="#">Another action</a></li>
<li><a href="#">Something else here</a></li>
<li class="divider"></li>
<li><a href="#">Separated link</a></li>
</ul>
</div></td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
         <td>Table cell</td>
      </tr>
      <tr>
        <td>Stay</td>
        <td><div class="btn-group">
<button type="button" class="btn btn-danger">Action</button>
<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
<span class="caret"></span>
<span class="sr-only">Toggle Dropdown</span>
</button>
<ul class="dropdown-menu" role="menu">
<li><a href="#">Action</a></li>
<li><a href="#">Another action</a></li>
<li><a href="#">Something else here</a></li>
<li class="divider"></li>
<li><a href="#">Separated link</a></li>
</ul>
</div></td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
      </tr>
    </tbody>
</table>
</div>

    <!-- <p>The commands below are included in your training program.  If your dog has previously mastered one or more of the commands, feel free to delete from the training program.  If you would like to train an additional command, please use the Add a Command feature.</p>
  
        <div ng-controller="CommandController as lc">
            <p>Add your command here. </p>
     
            <label for="addCommand" aria-placeholder="addCommand">New Command Name</label>
            <input type="text" placeholder ="New Command Name" ng-model="lc.newDog.birthday">   -->
            <!-- I need to figure out how to route it to the DB for botht his and New Command Description- ng-model -->
     <!-- <br>
            <label for="addCommandDesc" aria-placeholder="addCommandDesc">New Command Description</label>
            <input type="text" placeholder ="New Command Description" ng-model="sc.newItem.imageurl">
        
            <button ng-click="lc.addCommand()">Submit</button>
    
</body>
</html> -->